@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #0a0a0a;
  --color-black: #0a0a0a;
  --color-muted: #747474;
  --color-accent: #b2ff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
